

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html, body {
    height: 100%;
    /*background-color: #4A90E2;*/
    font-family: 'PT Sans', sans-serif ;
    font-size: 16px;

}


@media (min-width: 992px){
    .os-contain-everything {
        overflow-y: scroll;
        overflow-x: hidden;
        position: absolute;
        top: 50px;
        bottom: 100px;
        left: 0;
        right: 0;
          margin: auto;
          
    }
}
@media (min-width: 992px) {
    .os-logo {
        padding-top: 5em;
    }
}

#start {
     background-image: url('../images/hintergrund.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-position: center;*/
    padding-bottom: 2em;
    background-size: cover;
}

.os-logo{
    text-align:center;


}
.os-logo img {
    width: 100%;
    max-width: 400px;
}

.logo-small {
    padding-top: 15px;
}

.logo-small img {
    height: 70px !important;
}


@media (min-width: 992px) {
    .logos {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

@media (max-width: 992px) {
    .logos {
        position: relative;
        padding: 10px 0;
    }
}

.logos {
    background-color: #C9C9C9;
}

.logos img {
    height: 100px;
}

.logos .col-md-3 {
    text-align: center;
}

footer {
    background-color: blue;
}

.text {
    font-size: 2em;
}

@media (max-width: 992px) {
    .text {
        text-align: center;
    }

    #Stage_jbeeb_3 {
        margin: 0 auto !important;
    }

    .more-info {
        text-align: center;
        padding-bottom: 1em;
    }

    .logos img {
        margin: 1em 0;
    }

}

.text h1 {
    color: #4A90E2;
}

h2 {

    color: #4A90E2;
    padding-top: 1em;

}



#os-timer {
    margin-top: 4em;
}

.absolute-center {
    padding-top: 1.5em;
}

/*@media (min-width: 992px){
    .absolute-center {
        padding-top: 3.5em;
    }
}*/

@media(min-width:992px){
    #impressumlink {
        bottom: 0px;
        right: 0px;
        position: absolute;
    }
}

.more-info {
    color: #AAAAAA;
    margin-top: 2em;
    font-size: 1.5em;
}

.os-tab {
    display: none;
}

.os-tab.active {
    display: block;
}

/*#impressum {
    padding: 1em;
}

#programm {
    padding: 2em;
}

#aussteller {
    padding: 2em;
}*/

.os-section {
    padding: 2em;
}




