

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    background-color: #4A90E2;
}

.os-logo{
    text-align:center;

}

footer {
    background-color: blue;
}














